@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
.App {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.controlWrapper {
    position: absolute;
    top: 25px;
    left: 25px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.controlWrapper label {
    color: #fff;
    margin-bottom: 10px;
}

.controlWrapper input {
    margin-bottom: 30px;
}

#tsparticles {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    z-index: -1;
}